*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #12CBC4;
}

.container{
    width: 340px;
    padding: 40px 30px;
    background-color: #f1f2f6;
    border-radius: 10px;
    text-align: center;
}

.container header{
    font-size: 30px;
    font-weight: 600;
}

.container form{
    margin: 20px 0;
}

.input-area{
    position: relative;
}

form input{
    width: 100%;
    height: 40px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    font-size: 18px;
    padding: 0 35px;
    outline: none;
    border-bottom-width: 2px;
}

form input::placeholder{
    color: #bfbfbf;
    font-size: 16px;
}

form .field{
    margin: 20px 0;
}

form .field.shake{
    animation: Shake 0.5s infinite;
}

@keyframes Shake{
    0%,100%{
        transform: translateX(0);
    }

    20%,60%{
        transform: translateX(15px);
    }

    40%,80%{
        transform: translateX(-15px);
    }
}

form .field.errorInput input{
    border-color: #ff3838;
}

form .field.errorInput .error{
    display: block;
}

form .field i{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}

form .field .icon{
    left:10px;
    font-size: 18px;
    color: #a4b0be;
}

form .field .error-icon{
    right:10px;
    font-size: 18px;
    color: #ff3838;
}

form .field .error-text{
    margin-top: 5px;
    color: #ff3838;
    text-align: left;
}

form .field .error{
    display: none;
}

form .forget-pass{
    text-align: left;
    margin-top: -10px;
}

.container a:hover{
    text-decoration: underline ;
}

form .button{
    width: 100%;
    height: 40px;
    background-color: #3498db;
    color: #fff;
    border: none;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-size: 18px;
}

form .button:hover{
    background-color: #0984e3;
}


